//mixins
@mixin flex_center($align-center : initial) /*Celle ci permet d'aligner automatiquement sur l'axe horizontal, avec vertical en option*/
{
    display: flex;
    justify-content: center;
    align-items: $align-center;
}

@mixin police($grand :1.3em)
{
    font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
    font-size: $grand;
}

@mixin marges-auto($specification : auto) //pour mettre les marges auto avec marge spécifique en option
{
    margin-right: $specification;
    margin-left: $specification;
}

@mixin puces-liste() // puces personnalisées, à placer dans la div qui contient la liste
{
    ul {
        padding: 0;
        li{
            list-style-type: none;
            padding-bottom: 8px;
        }
        li:before {
            content: " ";
            background: linear-gradient(45deg, $couleur-secondaire, $couleur-primaire);
            padding: 0 9px 0;
            margin-right: 10px;
            -moz-border-radius: 40px;
            border-radius: 40px;
      }
    }
}