// variables
//couleurs
$noir : #000;
$blanc : #fff;
$couleur-primaire : #E1741A;
$couleur-primaire-light : #ffae6c;
$couleur-secondaire : #e0c9be; 
$couleur-tertiaire : #C6D9F1; 
$couleur-rouge-leger : #ff6a6a;
//taille
$large : 2em;
$espace_articles : 65px;