//page principale
// articles 
.contenu {
    @include police();
    @media screen and (min-width: 320px) and (max-width: 4001px)  {
        display: flex;
        flex-wrap: wrap;
    } 
    .contenu_gauche {
        width: 350px;
        background-color: $couleur-tertiaire;
        text-align: center;
        .liste_contenu_gauche {
            h3{
                color : $couleur-primaire;
            }
            div {
                @include police(0.75em);
                font-weight: bold;
                width: 250px;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                ul {
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .contenu_droite { // to do : resolutions en dessous de 1100. tester avec edge aussi
        width: 1200px;
        @media screen and (min-width: 1100px) and (max-width: 1599px)  {
            width: 700px;
        } 
        // @media screen and (min-width: 600px) and (max-width: 1099px)  {
        //     width: 530px;
        // } 
        // @media screen and (min-width: 320px) and (max-width: 599px)  {
        //     width: 300px;
        // } 
        margin-left : 30px;
        .liste_contenu_droite { 
            h3{
                color : $couleur-primaire;
                position: relative;
            }
            h3:after {
                display: inline-block;
                content: "";
                height: 4px;
                background: black;
                position: absolute;
                width: 1250px;
                top: 50%;
                margin-top: -2px;
                margin-left: 100px;
                overflow-wrap: break-word;
                @media screen and (min-width: 1100px) and (max-width: 1599px)  {
                    width: 800px;
                } 
              }
            div{
                @include police(0.75em);
                font-weight: bold;
                @include puces-liste();
            }
        }
    }
}