//page principale
// articles 
.contenu {
    @include police();
    @media screen and (min-width: 599px) and (max-width: 4001px)  {
        display: flex;
        flex-wrap: wrap;
    } 
    @media screen and (min-width: 320px) and (max-width: 599px)  {
        width: 100%;
    } 
    .contenu_gauche {
        width: 350px;
        background-color: $couleur-tertiaire;
        text-align: center;
        @media screen and (min-width: 600px) and (max-width: 1099px)  {
            width: 200px;
        } 
        @media screen and (min-width: 320px) and (max-width: 599px)  {
            width: 100%;
            background: linear-gradient($couleur-tertiaire, white);
        } 
        .liste_contenu_gauche {
            h3{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color : $couleur-primaire;
                // margin-top: 0;
                @media screen and (min-width: 600px) and (max-width: 1099px)  {
                    @include police(0.75em);
                } 
            }
            h3::before, h3::after {
                content: "";
                height: 5px;
                background-color: black;
                flex-grow: 1;
            }
            h3::before {
                margin-right: 2rem;
            }
            h3::after {
                margin-left: 2rem;
            }

            div {
                @include police(0.75em);
                font-weight: bold;
                width: 250px;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                @media screen and (min-width: 600px) and (max-width: 1099px)  {
                    width: 175px;
                    overflow-wrap: break-word;
                    font-weight:normal;
                } 
                @media screen and (min-width: 320px) and (max-width: 599px)  {
                    width: 275px;
                    overflow-wrap: break-word;
                    font-weight:normal;
                }
                ul {
                    padding: 0;
                    li{
                        list-style-type: none;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .Contact {
        // padding-top: 25px;
    }
    .contenu_droite {
        width: calc(100% - 380px);
        flex-grow: 1;
        @media screen and (min-width: 600px) and (max-width: 1099px)  {
            width: calc(100% - 230px);
        } 
        @media screen and (min-width: 320px) and (max-width: 599px)  {
            width: 100%;
            margin-left: 0;
            background: linear-gradient(white, $couleur-tertiaire);
        } 
        .liste_contenu_droite { 
            h3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                color : $couleur-primaire;
            }
            h3::before, h3::after {
                content: "";
                height: 5px;
                background-color: black;
                flex-grow: 1;
            }
            h3::before {
                margin-right: 2rem;
            }
            h3::after {
                margin-left: 2rem;
            }
            div{
                margin-left : 30px;
                @include police(0.75em);
                font-weight: bold;
                @include puces-liste();
                @media screen and (min-width: 320px) and (max-width: 1099px)  {
                    font-weight:normal;
                } 
            }
        }
    }
}