//footer
footer {
    @include police($large);
    .footer{
        height: 300px;
        .contenu_gauche {
            width: 350px;
            height: 300px;
            background-color: $couleur-tertiaire;
        }
    }
}