//Header

header {
    background-color: $couleur-tertiaire;
    .entete {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (min-width: 320px) and (max-width: 1099px)  {
            flex-direction: column;
        } 

        .entete_nom {
            @include police(2em);
        }
        .photo_thomas {
            border-radius: 1em;
            // @media screen and (min-width: 320px) and (max-width: 599px)  {
            //     height: 240px;
            // }
        }
    }
}