@-webkit-keyframes hoverBoutons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes hoverBoutons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  80% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes stopHover {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes stopHover {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.magic-btn::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -2px;
  padding: 0 2px;
  width: calc(100% + 2px);
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a.magic-btn::after {
  content: ' ';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: calc(50% - 4px);
  padding: 0 2px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a.magic-btn:hover::before {
  border-color: transparent;
}

a.magic-btn:hover::after {
  width: 100%;
  height: 0.7em;
  left: -1em;
  bottom: -0.35em;
  padding: 0.5em 1em;
  border-color: #ffae6c;
  background-color: #ffae6c;
  border-radius: 2.5em;
}

a.magic-btn {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

a.magic-btn:hover {
  color: #fff;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition-delay: 0.11s;
          transition-delay: 0.11s;
}

body {
  margin: 0;
}

.max-width-container {
  width: 100%;
  margin-left: 0;
}

.icone_mini {
  height: 13px;
  width: 13px;
}

.icone_moyenne {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
}

header .entete {
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete {
    width: 100%;
    background-color: #C6D9F1;
  }
}

header .entete .photo_cv {
  width: 350px;
  background-color: #C6D9F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  header .entete .photo_cv {
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete .photo_cv {
    width: 300px;
  }
}

header .entete .photo_cv a:hover {
  background-color: transparent;
}

header .entete .photo_thomas {
  -webkit-clip-path: ellipse(50% 45%);
          clip-path: ellipse(50% 45%);
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  header .entete .photo_thomas {
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete .photo_thomas {
    width: 300px;
  }
}

header .entete .titre {
  margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1099px) {
  header .entete .titre {
    font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
    font-size: 0.5em;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  header .entete .titre {
    margin-left: 0px;
    text-align: center;
  }
}

header .entete .entete_nom {
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

footer {
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 2em;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  footer {
    width: 100%;
    background-color: #C6D9F1;
  }
}

footer .footer {
  height: 300px;
}

footer .footer .contenu_gauche {
  width: 350px;
  height: 300px;
  background-color: #C6D9F1;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  footer .footer .contenu_gauche {
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  footer .footer .contenu_gauche {
    width: 100%;
  }
}

.contenu {
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

@media screen and (min-width: 599px) and (max-width: 4001px) {
  .contenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contenu {
    width: 100%;
  }
}

.contenu .contenu_gauche {
  width: 350px;
  background-color: #C6D9F1;
  text-align: center;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  .contenu .contenu_gauche {
    width: 200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contenu .contenu_gauche {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#C6D9F1), to(white));
    background: linear-gradient(#C6D9F1, white);
  }
}

.contenu .contenu_gauche .liste_contenu_gauche h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E1741A;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  .contenu .contenu_gauche .liste_contenu_gauche h3 {
    font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
    font-size: 0.75em;
  }
}

.contenu .contenu_gauche .liste_contenu_gauche h3::before, .contenu .contenu_gauche .liste_contenu_gauche h3::after {
  content: "";
  height: 5px;
  background-color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contenu .contenu_gauche .liste_contenu_gauche h3::before {
  margin-right: 2rem;
}

.contenu .contenu_gauche .liste_contenu_gauche h3::after {
  margin-left: 2rem;
}

.contenu .contenu_gauche .liste_contenu_gauche div {
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  .contenu .contenu_gauche .liste_contenu_gauche div {
    width: 175px;
    overflow-wrap: break-word;
    font-weight: normal;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contenu .contenu_gauche .liste_contenu_gauche div {
    width: 275px;
    overflow-wrap: break-word;
    font-weight: normal;
  }
}

.contenu .contenu_gauche .liste_contenu_gauche div ul {
  padding: 0;
}

.contenu .contenu_gauche .liste_contenu_gauche div ul li {
  list-style-type: none;
  padding-bottom: 8px;
}

.contenu .contenu_droite {
  width: calc(100% - 380px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  .contenu .contenu_droite {
    width: calc(100% - 230px);
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contenu .contenu_droite {
    width: 100%;
    margin-left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#C6D9F1));
    background: linear-gradient(white, #C6D9F1);
  }
}

.contenu .contenu_droite .liste_contenu_droite h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E1741A;
}

.contenu .contenu_droite .liste_contenu_droite h3::before, .contenu .contenu_droite .liste_contenu_droite h3::after {
  content: "";
  height: 5px;
  background-color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contenu .contenu_droite .liste_contenu_droite h3::before {
  margin-right: 2rem;
}

.contenu .contenu_droite .liste_contenu_droite h3::after {
  margin-left: 2rem;
}

.contenu .contenu_droite .liste_contenu_droite div {
  margin-left: 30px;
  font-family: 'Ubuntu', cursive, Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}

.contenu .contenu_droite .liste_contenu_droite div ul {
  padding: 0;
}

.contenu .contenu_droite .liste_contenu_droite div ul li {
  list-style-type: none;
  padding-bottom: 8px;
}

.contenu .contenu_droite .liste_contenu_droite div ul li:before {
  content: " ";
  background: linear-gradient(45deg, #e0c9be, #E1741A);
  padding: 0 9px 0;
  margin-right: 10px;
  border-radius: 40px;
}

@media screen and (min-width: 320px) and (max-width: 1099px) {
  .contenu .contenu_droite .liste_contenu_droite div {
    font-weight: normal;
  }
}
/*# sourceMappingURL=style.css.map */